
# editors
alias v=vim
alias vi=vim
alias gv=gvim

# Git
alias gg='git grep'
alias ggp='git grep -p5'
alias ggw='git grep -w'

# ctags in OSX
alias ctags=/usr/local/bin/ctags

# list
alias lt='l -t'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


# List colored
alias lc='colorls -a'
alias lac='colorls -la'
alias ltc='colorls -lt'
