
# editors
alias v=lvim
alias vi=lvim
alias gv=gvim

# Git
alias g='git'
alias gg='git grep'
alias ggp='git grep -p5'
alias ggw='git grep -w'

# list
alias ls='exa'
alias lt='exa -t'
alias ll='exa -alF'
alias la='exa -A'
alias l='exa -CF'
alias ll='exa -l -a --icons'

alias grep='rg'
#alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# git
alias gcp='git commit --author="Amine Kherbouche <kaminek92@gmail.com>"'

# ssh
alias sshu='ssh -o StrictHostKeyChecking=no'

# kube
alias k='kubectl'

# AWS assume-role
alias assume-role='function(){eval $(command assume-role -duration=8h $@);}'
alias assume-role-short='function(){eval $(command assume-role $@);}'
