
# editors
alias v=lvim
alias vi=lvim
alias vim=lvim
alias gv=gvim

# Git
alias g='git'
alias gg='git grep'
alias ggp='git grep -p5'
alias ggw='git grep -w'

# list
alias lt='l -t'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# new list
alias ll='exa -l -a --icons'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


# List colored
alias lc='colorls -a'
alias lac='colorls -la'
alias ltc='colorls -lt'

# git
alias gcp='git commit --author="Amine Kherbouche <kaminek92@gmail.com>"'

# ssh
alias sshu='ssh -o StrictHostKeyChecking=no'

# kube
alias k='kubectl'
