
# editors
alias v=nvim
alias vi=nvim
alias gv=gvim

# Git
alias g='git'
alias gg='git grep'
alias ggp='git grep -p5'
alias ggw='git grep -w'
alias gitroot='cd $(git rev-parse --show-toplevel)'

# list
alias ls='eza'
alias lt='eza -snew'
alias la='eza'
alias l='eza -F'
alias ll='eza -l -a --icons'

alias grep='rg'
#alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# git
alias gcp='git commit --author="Amine Kherbouche <kaminek92@gmail.com>"'

# ssh
alias sshu='ssh -o StrictHostKeyChecking=no -o PubkeyAcceptedAlgorithms=+ssh-rsa-cert-v01@openssh.com'

# kube
alias k='kubectl'

# switch yubikey
alias ykswitch='gpg-connect-agent "scd serialno" "learn --force" /bye'

# AWS Vault
alias av='aws-vault'

alias bakery='docker run -e BAKERY_SECRET_KEY=$(echo $(aws secretsmanager get-secret-value --secret-id 'infra/jenkins/bakery/key' --query SecretString --output text) | base64 -d ) -v $(pwd):$(pwd) -w $(pwd) -it 097958131044.dkr.ecr.eu-west-1.amazonaws.com/bakery:master'

# aws regions
alias  euw1='export AWS_REGION=eu-west-1'
alias  use1='export AWS_REGION=us-east-1'
alias  apne1='export AWS_REGION=ap-northeast-1'
alias  e='export AWS_REGION=eu-west-1'
alias  u='export AWS_REGION=us-east-1'
alias  a='export AWS_REGION=ap-northeast-1'

# aws profiles
alias  sandbox='export AWS_PROFILE=sandbox'
alias  infra-dev='export AWS_PROFILE=infra-dev'
alias  prod-admin='export AWS_PROFILE=teads-prod-admin'
